<div class="static">
  <div style="text-align: center">
    We always enjoyed watching movies.
    <br/>
    We also liked commenting on them.
    <br/>
    Sometimes we used twitter to do so.
    <br/>
    <b>WE WANTED IT TO BE SIMPLE.</b>
    <br/>
    This is why we created TWILIKE.
  </div>

  <div style = "margin-top: 15px">
    Twilike is an easy way to review and rate movies directly on twitter.
  </div>

  <h3>What does twilike do for you?</h3>
  Twilike allows you to recommend movies to other users and read their comments. It gives you an opportunity to look for
  new friends and browse their reviews. Twilike also makes it easy to choose which movie to see. And you never even need
  to leave your service page!
  <br/>
  Are you wondering how it works?
  <h1>It’s simple!</h1>
  All you need to do is to follow the example below:<br/>
  <ul>
    <li>The Shawshank Redemption. (your comment). #twilike+</li>
    <li>Star Wars. (your comment again). #twilike=</li>
    <li>Far Cry. (comment). #twilike-</li>
  </ul>

  That is, your review has to include:
  <ol>
    <li>a movie title with a period after it (do NOT put a period inside the title itself)</li>
    <li>your comment</li>
    <li>
      your opinion about the quality of the movie:
      <ul>
        <li>#twilike- (minus) you did not like the movie,</li>
        <li>#twilike+(plus) you really enjoyed it</li>
        <li>and #twilike=(equals) you had a neutral reaction.</li>
      </ul>
    </li>
  </ol>

  <div style="text-align: center; font-weight: bold">
    We thank everyone for reading this page and hope you will enjoy using Twilike.
  </div>
</div>