<div id='main'>
  <% @opinions.each do |opinion| %>
    <%= render_cell :opinion, :for_movie, :opinion => opinion %>
  <% end %>
  
  <%= render :partial => 'common/pagination', :locals => {:collection => @opinions} %>
</div>
