<div class = "static">
Многие из нас смотрят фильмы. Многие пишут в Твиттер. А иногда ещё <br />
и пишут в Твиттер о просмотренных фильмах. <br />
Поэтому мы и сделали простой сервис twilike, позволяющий комментировать и оценивать фильмы прямо из Твиттера. <br />
<br />
<h3>Зачем все это?</h3>
С Twilike вы сможете советовать фильмы с помощью своей странички в сервисе, узнавать мнения других пользователей о фильмах, которые вы хотите, к примеру, посмотреть, выбирать фильмы для просмотра, находить знакомых, читать их комментарии и многое другое. <br />

Как это работает? <br />

<h3>Все очень просто:</h3>
<b>Сразу</b> начинаете комментировать фильмы в своих записях со следующим синтаксисом: <br />
The Shawshank Redemption. (дальше ваше собственное мнение). #twilike+ <br />
Звездные войны. (Ну и мнение аналогично). #twilike= <br />
Far Cry. (мнение). #twilike- <br />

<h3>То есть мнение состоит из: </h3>
1) названия фильма и точки после него (не стоит ставить точку в названии фильма) <br />
2) непосредственно вашего мнения. <br />
3) и вашей оценки фильму: соответственно #twilike- (минус) в случае отрицательного <br />
отношения, #twilike= (равно) в случае нейтрального и #twilike+ (плюс) в случае положительного
отношения к фильму. <br />

<br />

Спасибо, всем кто дочитал. <br />
Мы будем рады, если вы будете пользоваться сервисом Twilike.
</div>