<div class = "static">
Если к вам пришло данное письмо, то скорее всего вы знаете что такое Twilike, однако позволю себе рассказать это еще раз:
  <br />
  <br />  
  <b>Twilike - это сервис для оценки и комментирования фильмов из Твиттера (<a href = "http://twitter.com">http://twitter.com</a>).</b>
<br />
<br />
  
Объясню, что такое Твиттер:
  <br />
  <b>Твиттер — это микроблог.</b> <br />Ну вот, допустим, есть у вас большой блог — в ЖЖ, на яру, на вордпрессе или еще где. Согласитесь, там не так просто взять и написать одно предложение. Это надо заходить, кликать «новый пост», добавлять теги и что-нибудь еще... Как правило блогов с записями из 1-2 предложений или даже из 1 ссылки, фотки почти нет. Блог это более крупный жанр. А порой просто хочется быстро запостить какое-то наблюдение, мысль, заметку, факт, ссылку, фотку... Для этого и придумали твиттер. Не большой блог, а микроблог.
<i>@olyapka</i> (более подробно читаем на <a href = "http://olyapka.ru/2009/05/chto-takoe-twitter/">http://olyapka.ru/2009/05/chto-takoe-twitter/</a> )
<br />
<br />
По описанию выше понятно, что твиттер также идеально подходит для отзывов на фильмы "<b>в-одну-строчку-или-140-символов</b>".
<br />
<br />
<b>Так и родилась идея сервиса Twilike - твиттера для фильмов паразитирующего на Твиттере :-)</b>
<br />
<h3>Так что же это из себя представляет?</h3>
Допустим Вы посмотрели фильм "Ледниковый Период 3" и он вам очень понравился. <br />
В этом случае вы просто пишете в своем твиттере что-то наподобие этого:
<br />
	<pre>Ледниковый Период 3. Море ФАНА, веселья и БЕЛКИ! #twilike+</pre>
C одной стороны это обычный твит, но он также будет проиндексирован Твилайком (из-за наличия хештега <b>#twilike</b>)
<br />
<br />
Давайте разберем из чего же состоит оценка/мнение фильма на Твилайке:
<br />
  <br />
	<b>Имя фильма(точка) Ваше мнение #twilike(ваша оценка в виде + для положительной оценки, - для отрицательной и = для нейтральной).</b>
<br />
<br />
После того как вы опубликуете этот твит на странице "Ледникового Периода 3" на Твилайке появится ваше мнение/оценка фильма!
<br />
<hr />
<h3>Вас же я приглашаю на бета-тест сервиса.</h3>
<br />
Я был бы очень рад если бы Вы
<br />
1) зарегистрировались на Твиттере (<a href = "http://twitter.com">http://twitter.com</a>), если Вас там еще нет
<br />
2) и начали комментировать фильмы!
<br />
  <hr /> 
p.s. А еще было бы круто если бы Вы комментировали фильмы из IMDB Top 250 :-) (<a href = "http://www.imdb.com/chart/top">http://www.imdb.com/chart/top</a>)
<br />
<b>p.p.s. Спасибо что дочитали :-)</b>
<br />
p.p.p.s. Мнения появляются не сразу. Причем могут задерживаться на неопределенное время.
<hr />
Ну и адрес сервиса!
<br />
<a href = "http://twilike.net">http://twilike.net</a>
<hr />
p.p.....p.s. А еще если возможно напишите какая вам цветовая схема больше нравится? Светлая или темная? Переключатель вверху справа.
<hr />
<h3>Буду благодарен за форвадинг этого сообщения</h3>
<br /> 
</div>
