#tops h2 {
    margin-top: 0px;
    margin-right: 12px;
}

.top_column {
    width: 30%;
}

.top_users {
    padding-left: 20px
}

.rating {
    width: 100px; 
    
    padding-left: 5px;
    font-size: 30px;
}

.movie_name {
    width: 195px;
    font-size: 20px;
    line-height: 1.2em;
    text-align: right;
    padding-right: 7px;
}

.movie_name a:hover {
    text-decoration: underline;
}

/*---- user ------*/

.profile {
    margin-top: -5px;    
}

.profile a:hover {
    text-decoration: underline;
}

.profile h3 {
    margin-top: -5px;
}

.profile .last {
    margin-bottom: 15px;
    margin-top: -10px;
}

.top_response {
    font-size: 0.7em;
    line-height: 1.4em;
    margin-top: 10px;
}

.top_response img {
    width: 12px;
    margin-bottom: -3px;
}

.additional {
    font-size: 0.6em;
    font-weight: normal;
}
