<div class='sidebar_response'>
  <%= movie_href(@opinion.movie) %> <img src='<%= rating_image(@opinion) %>'/>
  <br />
  <%= render_cell :opinion, :only_text, :opinion => @opinion %> <a href = "<%= opinion_link(@opinion) %>">#</a>
</div>