<div class='top_response'>
  <img src='<%= rating_image(@opinion) %>' />
  [
  <%= movie_href(@opinion.movie) %>
  ]
  <%= render_cell :opinion, :only_text, :opinion => @opinion %> <a href = "<%= opinion_link(@opinion) %>">#</a>
</div>