<span class="opinion_text">
  <%= @opinion.translated_text %>
  <% if @opinion.translated_text != @opinion.text %>
    <%= image_tag("russia_flag.png", :width => 16, :height => 16, :style => "margin-bottom: -4px", :title => @opinion.text) %>
  <% end %>
</span>