<div class='block'>
  <p class='reply opacity'><%= comment_movie(@movie) %></p>

  <%= movie_image_tag(@movie, :medium) %>

  <div class='data'>
    <table>
      <tr>
        <td class = "rating" style = "font-size: 3em; font-weight: bold; height: 59px">
          <%= if @rating then sprintf("%.1f", @rating) else "-.-" end %>
        </td>

        <td class = "movie_name">
          <%= movie_href(@movie) %>
        </td>
      </tr>
    </table>
  </div>
</div>
