<div id="footer">
  <a style = "font-size:1.2em" href='http://twitter.com/twilike'><%= t 'footer.follow_us'%></a>
  <br />
  <a href='http://twitter.com/_ttim'>_ttim@twitter</a>
  ,
  2009
  <br/>
  <%= image_tag("powered-by-twitter-sig.gif") %>
  <br/>  
  Original template from
  <a href="http://www.intensivstation.ch/files/en_templates/2/template-1.html">www.intensivstation.ch</a>
</div>
