#content h2, .static, .user_line_response, .by_movie_response {
    color: #e1ddd9;
}

body {
    background-color: #e1ddd9;
    color: #564b47;
}

a {
    color: #0084b4;
}

#container {
    background-color: #555;
}

/* opinion block */
.block .title a {
    color: #eee;
}

.block .title a:hover {
    background: #333;
    color: #fff;
}

.block .data {
    background: #222;
    color: #ddd;
}

.block .title {
    background: #3c6c92;
}

.block .reply {
    background: #3c6c92;
}

.block .reply a {
    color: #eee;
}

.block .reply a:hover {
    background: #333;
    color: #fff;
}