#one_opinion .title a {
    color: #eee;
}

#one_opinion .title a:hover {
    background: #333;
    color: #fff;
}

#one_opinion .data {
    background: #222;
    color: #ddd;
}

#one_opinion .title {
    background: #3c6c92;
}

#one_opinion .reply {
    background: #3c6c92;
}

#one_opinion .reply a {
    color: #eee;
}

#one_opinion .reply a:hover {
    background: #333;
    color: #fff;
}

#content h2, .static, .user_line_response, .by_movie_response {
    color: #e1ddd9;
}