.top_users {
    border-left: 1px dashed #676767;
    color: #676767;
}

.movie_name a {
    color: white;
}

/*---- user ------*/
.profile a {
    color: white;
}

.profile h3, .top_response {
    color: #e1ddd9;
}